* {
    --theme-color: #4e9c76;
}

body {
    overflow-x: hidden;
}

/* sets a specific padding for all the sections */
section {
    padding: 60px 0;
}

.nav-theme {
    background-color: var(--theme-color);
}

.btn-theme {
    color: white;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.btn-theme:hover {
    color: white;
    background-color: #3f8b66;
    border-color: #3a7e5c;
}

.btn-theme:focus {
    box-shadow: 0 0 0 0.25rem rgba(78, 156, 118, 0.5);
}

.btn-theme:disabled {
    opacity: 0.65;
}

.btn-light-theme {
    color: var(--theme-color);
    border-color: var(--theme-color);
    background-color: white;
}

.btn-light-theme:hover {
    color: white;
    background-color: var(--theme-color);
}

.text-color-theme {
    color: var(--theme-color);
}