* {
    --theme-color: #4f9c77;
    --default-text-color: white;
}

body {
    overflow-x: hidden;
}

/* sets a specific padding for all the sections */
section {
    padding: 60px 0;
}

.nav-theme {
    background-color: var(--theme-color);
}

.btn-theme {
    color: var(--default-text-color);
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.btn-theme:hover {
    color: var(--default-text-color);
    background-color: color-mix(in srgb, var(--theme-color) 90%, black);
    border-color: color-mix(in srgb, var(--theme-color) 80%, black);
}

.btn-theme:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--theme-color), 0.5);
}

.btn-theme:disabled {
    opacity: 0.65;
}

.btn-light-theme {
    color: var(--theme-color);
    border-color: var(--theme-color);
    background-color: var(--default-text-color);
}

.btn-light-theme:hover {
    color: var(--default-text-color);
    background-color: var(--theme-color);
}

.text-color-theme {
    color: var(--theme-color);
}